header {
  width: 100%;
  padding-top: 0.5em;
  position: sticky;
  top: 0;
  z-index: 1;
  text-align: center;
}
h1 {
  height: 2em;
  background-color: #393e41;
  color: #edf2ef;
  padding-top: 1.2em;
  margin-top: -0.975em;
}
h1:hover {
  color: #e94f37;
}
nav {
  height: 2em;
  padding-top: 0.5em;
  margin-top: -1.5em;
  background-color: #6d7276;
}

a {
  margin-right: 0.75em;
  text-decoration: none;
  color: black;
}

.nav-items {
  margin-top: -1em;
}

.nav-items a:hover {
  color: #edf2ef;
  font-weight: bold;
}

.hamburger-line {
  width: 0.75em;
  height: 0.125em;
  border: solid 0.05em black;
  border-right-style: none;
  border-left-style: none;
  border-top-style: none;
  position: relative;
  margin: auto;
}

.hamburger-style {
  font-size: 3em;
  border: none;
  background-color: transparent;
  margin-right: -70%;
  margin-top: -0.075em;
  cursor: default;
}

.hamburger-exit {
  margin-top: -1em;
  font-size: 2em;
  border: none;
  background-color: transparent;
  margin-right: -80%;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #6d7276;
}

::-webkit-scrollbar-thumb {
  background: rgb(33, 32, 32);
  border-radius: 5px;
}

body {
  margin: 0;
  display: unset;
  background-color: #edf2ef;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.5em;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.at-austins {
  margin-bottom: -0.15em;
  margin-top: 0.15em;
}

.description {
  width: calc(80% - 2em);
}

ul {
  display: table;
  margin: 0 auto;
  text-align: left;
}

li {
  list-style-type: circle;
  list-style-position: inside;
}

.expand-icon {
  transform: rotate(180deg);
  margin-top: -1.2em;
  margin-bottom: -0.8em;
}

.minimise-icon {
  margin-top: -0.8em;
  margin-bottom: -0.75em;
}

.expand-icon,
.minimise-icon {
  font-size: 2.5em;
  font-weight: bold;
  height: 2em;
  width: 4em;
  border: none;
  color: grey;
  background-color: transparent;
  position: relative;

  cursor: default;
}

hr {
  width: calc(80% - 2em);
  border: solid black 0.15em;
}

.van {
  max-width: 55vw;
  border-radius: 25%;
  border: solid 0.15em black;
  position: relative;
  margin: auto;
}

.tstandards {
  max-width: 55vw;
  height: 6em;
  margin-top: 0;
  border-radius: 5%;
  border: solid 0.15em black;
}

.card {
  border-radius: 5%;
  border: solid 0.15em black;
}

.demo-img {
  width: 12em;
  height: 12em;
  border-radius: 5%;
  padding-top: 0.25em;
  margin-bottom: 1em;
}

.gallery-button {
  font-size: 1em;
  width: 6em;
  margin-bottom: 0.5em;
}

.forward {
  left: 100%;
  margin-right: 0.15em;
}

.price-subsection {
  text-decoration: underline;
}

.contact {
  text-decoration: underline;
}

.contact-box {
  width: calc(80% - 2em);
  border: solid black 0.15em;
  display: table;
  margin: 0 auto;
  text-align: center;
}

.tstandards-link {
  text-decoration: underline;
  text-decoration-color: rgba(0, 0, 0, 0.5);
}

.contact-link {
  color: rgba(0, 0, 0, 0.75);
}

.tstandards-link:hover,
.contact-link:hover {
  color: rgb(59, 173, 167);
  font-size: 107.5%;
  text-decoration: none;
}

.foot {
  text-align: center;
  width: 100%;
  padding-bottom: 0.75em;
  padding-top: 0.5em;
  background-color: #393e41;
  color: #edf2ef;
}

@media (min-width: 701px) {
  .van {
    max-width: 30vw;
  }
  .hamburger {
    display: none;
  }
  .nav-items {
    display: inline-block !important;
  }
  .nav-items a:hover {
    font-size: 110%;
  }
}

@media (max-width: 700px) {
  nav {
    height: 2em;
  }

  .nav-items {
    padding-top: 0.15em;
    padding-bottom: 0.25em;
    flex-direction: column;
    background-color: #6d7276;
  }

  .company-name {
    padding-left: 0.25em;
    padding-right: 0.25em;
  }

  .mobile-margin {
    padding-right: 0.5em;
    padding-left: 0.5em;
  }

  footer {
    display: block;
    height: auto;
  }
}
