header {
  width: 100%;
  padding-top: 0.5em;
  position: sticky;
  top: 0;
  z-index: 1;
  text-align: center;
}
h1 {
  height: 2em;
  background-color: #393e41;
  color: #edf2ef;
  padding-top: 1.2em;
  margin-top: -0.975em;
}
h1:hover {
  color: #e94f37;
}
nav {
  height: 2em;
  padding-top: 0.5em;
  margin-top: -1.5em;
  background-color: #6d7276;
}

a {
  margin-right: 0.75em;
  text-decoration: none;
  color: black;
}

.nav-items a:hover {
  color: #edf2ef;
  font-size: 110%;
  font-weight: bold;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #6d7276;
}

::-webkit-scrollbar-thumb {
  background: rgb(33, 32, 32);
  border-radius: 5px;
}

body {
  margin: 0;
  display: unset;
  background-color: #edf2ef;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.5em;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* .paul {

  margin: auto;
  position: absolute;
  animation: paulSpin 5s alternate infinite;
}

@keyframes paulSpin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
} */

.at-austins {
  margin-bottom: -0.15em;
  margin-top: 0.15em;
}

.description {
  width: calc(80% - 2em);
}

ul {
  display: table;
  margin: 0 auto;
  text-align: left;
}

li {
  list-style-type: circle;
  list-style-position: inside;
}

hr {
  width: calc(80% - 2em);
  border: solid black 0.15em;
}

.van {
  max-width: 55vw;
  border-radius: 25%;
  border: solid 0.15em black;
  position: relative;
  margin: auto;
}

.tstandards {
  max-width: 55vw;
  height: 6em;
  margin-top: 0;
  border-radius: 5%;
  border: solid 0.15em black;
}

.card {
  border-radius: 5%;
  border: solid 0.15em black;
}

.image-gallery {
  border: solid 0.25em rgb(0, 0, 0);
  border-radius: 2.5%;
  width: calc(80% - 2em);
  height: 50%;
  margin-bottom: 1em;
}

.demo-img {
  width: 8em;
  max-width: 8em;
  height: 7.5em;
  max-height: 7.5em;
  object-fit: cover;
  border-radius: 5%;
  padding-top: 0.25em;
}

.price-subsection {
  text-decoration: underline;
}

.contact {
  text-decoration: underline;
}

.contact-box {
  width: calc(80% - 2em);
  border: solid black 0.15em;
  display: table;
  margin: 0 auto;
  text-align: center;
}

.tstandards-link {
  text-decoration: underline;
  text-decoration-color: rgba(0, 0, 0, 0.5);
}

.contact-link {
  color: rgba(0, 0, 0, 0.75);
}

.tstandards-link:hover,
.contact-link:hover {
  color: rgb(59, 173, 167);
  font-size: 107.5%;
  text-decoration: none;
}

.foot {
  text-align: center;
  width: 100%;
  padding-bottom: 0.75em;
  padding-top: 0.5em;
  background-color: #393e41;
  color: #edf2ef;
}

@media (min-width: 701px) {
  .van {
    max-width: 30vw;
  }
}

@media (max-width: 700px) {
  nav {
    display: block;
    height: auto;
  }

  .nav-items {
    padding-top: 0.15em;
    padding-bottom: 0.75em;
    padding-left: 1em;
  }

  .company-name {
    padding-left: 0.25em;
    padding-right: 0.25em;
  }

  .mobile-margin {
    padding-right: 0.5em;
    padding-left: 0.5em;
  }

  footer,
  nav {
    display: block;
    height: auto;
  }
}
